/* .container p {
	color: white;
	background: grey;
	padding: 1rem;
	margin-bottom: 0.5rem;
}

.container p.colour {
	background: lightgray;
	color: black;
} */

body {
	background: lightgray;
}

.card {
	padding: 1rem;
	background: white;
	margin-bottom: 0.5rem;
}

.menu {
	background: red;
	padding: 2rem;
	width: 300px;
	height: 100px;
	color: white;
	display: none;
}

.menu.open {
	display: block;
}
